.table-column{
    position: relative !important;
    color: white !important;
    min-height: 600px;
}
.column-card {
    width: '18rem';
    color: black;
}
.button-delete-col{
    position: absolute !important;
    bottom: 0 !important;
}